<%users.forEach(function(friend){%>
<li class="collection-item avatar">
	<i class="material-icons circle">face</i>
	<span class="title"><%=friend.name%></span>
	<p><%=friend.user_profile[0].location%></p>
	<a href="#" class="secondary-content"><i class="material-icons add_friend" onclick='add_friend(this.id)' id="<%=friend.member_id%>">person_add</i></a>
</li>
<%})%>	