<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Spang</h5>
        <p class="grey-text text-lighten-4">Made with love.</p>
      </div>
      <div class="col l4 offset-l2 s12">
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Special thanks to <a class="grey-text text-lighten-3" href="https://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>