<button id="log_out_user" type="button">Log Out</button>

<script>
	$("#log_out_user").on("click", function(){
		$.ajax({
			url: "/logout",
			method: "POST",
			success: function(){
				location.href = "http://localhost:3000";
			},
			error: function(){

			}
		})
	})
</script>