<html>
	<body>
		<h1>Find your friends!</h1>
		<%users.forEach(function(friend){%>
			<div>
				<div>			<!-- Ovo je div za pokazivanje slike-->
					<img src="http://localhost:3000/user_profile_images/<%=friend.user_profile[0].profile_pic%>">
				</div>
				<h3><%=friend.name%></h3>
				<button id ="<%=friend.member_id%>"  class="request_button" type="button">+ Friend Request</button>
			</div>
		<%})%>
	</body>
	<script>
		$(".request_button").on("click", function(){
			var clicked_button = $(this);
			$.ajax({
				method: "POST",
				url: "/friend_request",
				contentType: "application/json",
				data: JSON.stringify({"friend_member_id": clicked_button.attr("id")}),
				success: function(){
					clicked_button.closest().remove()
				}
			})
		})
	</script>
</html>