<%include partials/header%>
<html>
	<body>
		<%include partials/logout%>
			<h1>Home</h1>
			<h2>Pozdrav, <%=name%></h2>
			<h2 id="community_header">Spang Status</h2>
			<img src="/images/Capture.svg" style="color:#FF0000">
			<div id="community_statuses_div">
				<ol class="user_statuses">
					<%user_statuses.forEach(function(user_status) {%>
						<li class = "clearfix">
							<img src="http://localhost:3000/user_profile_images/<%=user_status.profile_pic%>">
							<div class="poster_name">
								<%=user_status.name%>
							</div>
							<p><%=user_status.user_status%></p>	
						</li>
					<%})%>
				</ol>
				<textarea id="statuses_textarea" rows="4" cols="50">
				</textarea></br>
				<button id="submit_status_button" type="submit">POST</button>
	</body>
	<script>
		$("#submit_status_button").on("click", function(){
			var status_val = $("#statuses_textarea").val();
			$("#statuses_textarea").val("");

			$.ajax({
				url: "/user_status/create",
				method: "POST",
				contentType: "application/json",
				data: JSON.stringify({"user_status": status_val}),
				success: function(saved_status){
					$(".user_statuses").append("<li class='clearfix'><img src='http://localhost:3000/user_profile_images/" + saved_status.profile_pic + "'><div class='poster_name'>" + saved_status.name + "</div><p>" + status_val + "</p></li>");
				},
				err: function(){

				}
			})
		})
	</script>
</html>