<html>
<%include partials/header%>

<body>
	<header></header>
	<main>
		<div class="container" style="height: 80%">
			<div class="row" style="margin-top: 10%">
				<div class="card col s6 offset-s3">
					<div class="card-content">
						<span class="card-title center-align">Sign in</span>
						<div style="margin-top: 10%; display: none" class="row" id="loader">
							<div class="col s4 offset-s4 center-align">
								<div class="preloader-wrapper big active">
									<div class="spinner-layer spinner-spang-only">
										<div class="circle-clipper left">
											<div class="circle"></div>
										</div><div class="gap-patch">
											<div class="circle"></div>
										</div><div class="circle-clipper right">
											<div class="circle"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<form id="sign_in_form" style="display: block">
							<div class="row">
								<div class="input-field col s6 offset-s3">
									<input id="email" type="email" class="validate">
									<label for="email">Email</label>
								</div>
								<div class="input-field col s6 offset-s3">
									<input id="password" type="password" class="validate">
									<label for="password">Password</label>
								</div>
							</div>
							<div class="row center-align">
								<a class="waves-effect waves-light btn" onclick="sign_in_user()">sign in</a>
							</div>
							<div class="row center-align">
								<span>Not a member? <a href="/sign-up"><span style="color:#e57373; font-weight: bold">Sign up.</span></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
	<%include partials/footer%>				
</body>

<script>
	function sign_in_user(){
		var loader = document.getElementById("loader");
		var registerinfo = document.getElementById("sign_in_form");

		loader.style.display = "block";
		registerinfo.style.display = "none";

		var email = $('#email').val();
		var password = $('#password').val();
		$.ajax({
			url: "/login",
			method: "POST",
			data: {email: email, password: password},
			success: function(data){
				location.href = "http://localhost:3000/home";
			},
			error: function(){
				$("#usr_email, #usr_pwd").val('');
				loader.style.display="none";	
				registerinfo.style.display="block";
			}
		})
	};
</script>
</html>